:root {
  --color: #f5f5f5;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.3)
    ),
    url(./assets/weather.jpg);
  font-family: sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  width: 90%;
  background: none;
  color: var(--color);
  font-size: 20px;
  height: 100%;
  font-weight: 600;
  outline: none;
  border: none;
  padding: 0 9px;
}

input::placeholder {
  color: rgba(245, 245, 245, 0.7);
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20fill%3D%22none%22%20viewBox%3D%220%200%2012%2012%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%221.5%22%20d%3D%22M1%2011L11%201%22%2F%3E%3Cpath%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%221.5%22%20d%3D%22M1%201L11%2011%22%2F%3E%3C%2Fsvg%3E");
  background-position: center;
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  height: 33px;
  width: 350px;
  border-bottom: 2px solid var(--color);
}
button {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
}

.weather-info {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  align-items: center;
  gap: 20px;
  color: var(--color);
  height: 250px;
}
.weather-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 55px;
}
.searchImg {
  width: 90%;
  height: 90%;
}
.searchImg:hover {
  transform: scale(1.2);
}
.weather-temp {
  display: flex;
  gap: 30px;
}
.weather-city {
  font-size: 35px;
}

ul {
  height: 300px;
  color: var(--color);
  list-style: none;
  font-size: 20px;
  width: 331px;
}
li {
  cursor: pointer;
  font-weight: bold;
}
li > span {
  font-size: 75%;
  display: block;
  color: rgba(245, 245, 245, 0.8);
}
li:hover {
  text-decoration: underline;
}
